<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81765057285-f7qbj2f74anqrpnih0mjr2psv8s8aa8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81765057285-f7qbj2f74anqrpnih0mjr2psv8s8aa8p</string>
	<key>API_KEY</key>
	<string>AIzaSyB_KbpOVG74HAudskWXqHSNz2NM0mFhYHs</string>
	<key>GCM_SENDER_ID</key>
	<string>81765057285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shino.nineth</string>
	<key>PROJECT_ID</key>
	<string>nineth-project-335f2</string>
	<key>STORAGE_BUCKET</key>
	<string>nineth-project-335f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81765057285:ios:e559a54202b30f90bd2d6c</string>
	<key>DATABASE_URL</key>
	<string>https://nineth-project-335f2.firebaseio.com</string>
</dict>
</plist>